body {
  margin: 0;
  font-family: "Manrope", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2, h3, h4, h5, p, span, a, button, input, label, strong {
  font-weight: 400;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

h1 {
  font-family: "Manrope", sans-serif;
  font-size: clamp(28px, 3.5vw, 36px);
}

h2 {
  font-size: clamp(26px, 3.2vw, 32px);
}

h3 {
  font-size: clamp(24px, 3vw, 30px);
}

h4 {
  font-size: clamp(20px, 2.5vw, 26px);
}

h5, p, a, button, input, span, label, strong {
  font-size: clamp(12px, 1vw, 16px);
  font-family: "Manrope", sans-serif;
}


a {
  text-decoration: none;
  color: inherit;
  outline: none;
}
